@import "~susy/sass/susy";
@import "~breakpoint-sass/stylesheets/breakpoint";
@import "~normalize.css/normalize.css";
@import "app/App.scss";

$small: (320px 767px);
$medium: (768px 1099px);
$large: 1100px;

$susy: (
  columns: 12,
  container: 80%,
  gutter-position: split,
  math: fluid,
  debug: (
    image: show,
    color: rgba(#66f, 0.25),
    output: overlay,
    toggle: top right,
  )
);

html,
body {
  height: 100%;
}

body {
  color: #333;
  font-family: "Segoe UI", "Lucida Grande", "Ubuntu", "sans-serif";
  font-size: 16px;
  line-height: 1.5;
}

@include layout($susy);

.content {
  @include container;
  margin-bottom: 3em;

  header {
    border-bottom: 1px solid darkgray;
  }
}

.component-summary {
  @include pad(2);
  border: 1px solid lightgray;
  padding: 1em 2em;
}

@include susy-breakpoint($large, 12)
  @include susy-breakpoint($medium, 12)
  @include susy-breakpoint($small, 4)
